<li>
  <%= task.title %>
  (
<%= link_to("Start", task_path(task, status: Task::StatusTask::STARTED), method: :patch)  if task.not_started? %>
<%= link_to("Shelf", task_path(task, status: Task::StatusTask::NOT_STARTED), method: :patch) if task.started? %>
<%= content_tag "span" %>
<%= link_to("Finished", task_path(task, status: Task::StatusTask::COMPLETED), method: :patch) if task.started? %>
<%= link_to("Back To Work", task_path(task, status: Task::StatusTask::STARTED), method: :patch) if task.completed? %>
)

</li>
