
<div id="task">
  <h1>Tasks</h1>
  <h2>Not Started</h2>
  <ul id="status_<%= Task::StatusTask::NOT_STARTED %>">
    <%= render @not_started_tasks %>
  </ul>

  <h2>In Progress</h2>
  <ul id="status_<%= Task::StatusTask::STARTED %>">
    <%= render @started_tasks %>
  </ul>
  <h2>Finished</h2>
  <ul id="status_<%= Task::StatusTask::COMPLETED %>">
    <%= render @finished_tasks %>
  </ul>
</div>
