<div id="home">
  <div class="vcenter">
    <h1 class="fontme animated bounce infinite">
      hello yo
    </h1>
    <%= link_to 'Contact', contact_path, class: "animated" %>
    <%= link_to 'Privacy', privacy_path, class: "animated" %>
    <%= link_to 'Tasks', tasks_path, class: "animated" %>
    <%= link_to 'Users', users_path, class: "animated" %>
    <%= link_to 'Sign Up', signup_path, class: "animated" %>
    <%= link_to 'Login', login_path, class: "animated" %><br>
<!-- <br><div class="login-page">
      <div class="form animated zoomInDown">
        <form class="login-form">
            <input type="text" placeholder="Username" style="text-align: center"/>
            <input type="password" placeholder="Password" style="text-align: center"/>
          <button>
            ENTER
          </button>
        </form>
      </div>
    </div> -->
  </div>
</div>
