<!DOCTYPE html>
<html>
<head>
  <title>RAIL</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <%= render partial: 'common/navheader' unless controller_name == "home" && action_name == "index" %>

  <% if flash[:success] %>
    <div class="alert alert-success" role="alert"><%= flash[:success] %></div>
  <% end %>

  <%= yield %>

</body>
</html>
